:root {
    --laranja: #fc6404;
    --marron: #833301;
    --preto: #000000;
    --branco: #f6f6f6;
    --verde: rgb(20, 165, 52);
    --fonte-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
    color: var(--branco);
    font-size: 1rem;
    font-weight: 400;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#objetos {
    background-color: #000000;
    max-width: 1280px;
    border-radius: 30px;
    width: 750px;
    height: 80vh;
}

.titulo {
    display: flex;
    justify-content: center;
}

.Campos-pesquisas {
    display: grid;
    margin-left: 15%;
}

.Campo1 {
    width: 80%;
    height: 60px;
    font-size: 2rem;
    text-transform: uppercase;
}

.Campos-pesquisas input:focus {
    border-radius: 16px;
}

.botao {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

#btnlimpar {
    background-color: #FF8C00;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 30px;

}

#btnpesquisar {
    background-color: #00FF00;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 30px;

}

#btnhome {
    background-color: #00FF00;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    height: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--preto);
}


.baixar {
    text-decoration: none;
    background-color: var(--branco);
    font-weight: bold;
    font-size: 14px;
    width: 250px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--preto);
    margin-top: 30px;
    margin-left: 31%;
}


@media screen and (max-width: 590px) {
    .baixar {
        margin-top: 30px;
        margin-left: 25%;
    }
}

@media screen and (max-width: 500px) {
    .baixar {
        margin-top: 30px;
        margin-left: 20%;
    }
}









/*#Campo1{
    position: absolute;
    background-color: #FFFF00;
    color: blue; 
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px;
    top: 70px;
    left: 90px;
    Right: 85px;
    
    }
    
    #Label1{
    font-family: arial;
    position: absolute;
    align-items: center;
    justify-content: center;
    color:white;
    top: 70px;
    left: 20px;
    low: 0px;
    }
    
    #Campo2{
    position: absolute;
    top: 200px;
    left: 90px;
    Right: 85px;
    padding: 25px;
    font-size: 22px;
    color: red;
    font-weight: bold;
    text-align: left;
    }
    
    #Label2{
    font-family: arial;
    position: absolute;
    color:white;
    top: 200px;
    left: 20px;
    }
    
    #Campo3{
    position: absolute;
    top: 135px;
    left: 90px;
    Right: 85px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    }
    
    #Label3{
    font-family: arial;
    position: absolute;
    color:white;
    top: 135px;
    left: 20px;
    }
    
    #Campo4{
    position: absolute;
    top: 300px;
    left: 90px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    }
    
    #Label4{
    font-family: arial;
    position: absolute;
    color:white;
    top: 300px;
    left: 20px;
    }
    
    #Campo5{
    position: absolute;
    top: 300px;
    left: 525px;
    Right: 84px;
    padding: 10px;
    font-size: 22px;
    color: red;
    font-weight: bold;
    text-align: center;
    }
    
    #Label5{
    font-family: arial;
    position: absolute;
    color:white;
    top: 300px;
    left: 370px;
    }*/



/*#btneditar{
    
    position: absolute;
    top: 300px;
    left: 450px;
    background-color: #FF4500;
    font-weight: bold;
    font-size: 14px;
    
    }
    
    #btnsalvar{
    
    position: absolute;
    top: 300px;
    left: 630px;
    background-color: #00FF00;
    font-weight: bold;
    font-size: 14px;
    
    }
    
    #btnexcluir{
    
    position: absolute;
    top: 300px;
    left: 790px;
    background-color: #FF0000;
    font-weight: bold;
    font-size: 14px;
    
    }
    
    #Componentes{
       display: none;
       opacity: .8;
       position: fixed;
       top: 0px;
       left:0px;
       background: #FFF;
       width: 100%;
       z-index:10;   
       }
       
       #CaixaMensagem {
        display: none;
        position: fixed;
        background: #000;
        border-radius: 7px;
        width: 550px;
        z-index:10;   
       }
    
       
       #CaixaMensagem > div {background: #FFF; margin: 6px}
       #CaixaMensagem > div > #TituloMsg{background: #FFFF00; font-size: 22px; padding:10px;color: #000;}
       #CaixaMensagem > div > #CorpoMsg {background: #4169E1; font-size: 15px; padding:20px;color: #FFF;text-align:center;}
       #CaixaMensagem > div > #RodapeMsg{background: #4169E1; padding:10px;text-align:center;}*/